/* Write your global styles here, in SCSS syntax. Variables and mixins from the src/variables.scss file are available here without importing */ /* Import only what you need from Bulma */
// @import "bulma/sass/utilities/_all";
@import "bulma/sass/base/_all";
@import "bulma/sass/utilities/_all";
@import "bulma/sass/elements/box";
@import "bulma/sass/elements/button";
@import "bulma/sass/form/shared";
@import "bulma/sass/form/input-textarea";
@import "bulma/sass/form/select";
@import "bulma/sass/components/modal";

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin: 0;
}

pre {
	padding: 0;
}